SUPPY_POSTGRES_PORT=5434
SUPPY_POSTGRES_USER=postgres
SUPPY_POSTGRES_PASSWORD=ibrahim
SUPPY_APP_DATABASE=suppy_inventory_update
SUPPY_KEYCLOAK_DATABASE=suppy_inventory_keycloak

SUPPY_REDIS_PORT=6379

SUPPY_RABBITMQ_PORT=5672
SUPPY_RABBITMQ_MANAGEMENT_PORT=15672
SUPPY_RABBITMQ_USER=guest
SUPPY_RABBITMQ_PASSWORD=guest

SUPPY_KEYCLOAK_PORT=8088
SUPPY_KEYCLOAK_ADMIN=admin
SUPPY_KEYCLOAK_ADMIN_PASSWORD=ibrahim
